$main: #1c2023;
$dark: #30373f;
$hoverVideoBtn: #525c67;
$violet: #8856d9;
$sea: #a9c7c7;
$grey: #8c96a0;
$orange: #ff4136;
$white: #fff;
$pale: #d9d9d9;
$black: #000;

// $swiper-pagination-bullet-inactive-color: $sea;

$brad: 6px;
$brad_double: 12px;
