@import "./colors_and_vars.scss";

@mixin button($bg: $violet) {
  background-color: $bg; //Ja - bg
  border-radius: 6px;
  padding: 12px 36px;
  font-weight: 500;
  line-height: 19px; //? no koef
  color: $white;
  display: flex;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.25s; //Ja - bg
}

@mixin hoverViolet {
  &:hover {
    background-color: #9468da; //Ja - bg
  }

  &:active {
    background-color: #6039a0; //Ja - bg
  }
}

@mixin hoverOrange {
  &:hover {
    background-color: #f8625a; //Ja - bg
  }

  &:active {
    background-color: #a4221c; //Ja - bg
  }
}

@mixin bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

@mixin flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
